@font-face{
    font-family: 'Roboto';
    src: url(./Fonts/Roboto/Roboto-Light.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(./Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'Montserrat bold';
    src: url(./Fonts/Montserrat/static/Montserrat-Bold.ttf);
}